
.app-header, .app-footer {
  background: #000000;
}

.description_padding {
	padding-bottom: 10px;
	padding-top: 10px;
}

.PhilaButton {
	background: #000000;
}

.search-submit, .open-list-button, .header-button {
  background-color: #4481c2 !important;
}
